/* my-component.component.css */

:host {
    display: block;
    height: 100vh;
    background-image: url('../assets/background.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
  }


/* app.component.css */

a.active {
    display: none;
  }
 
/* app.component.css */



.navbar-button {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 20px;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar-button:hover {
    background-color: #2980b9;
  }
  